<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%X{id}] %d [%t] %-5p %c[%L] - %m%n" />
        </layout>
    </appender>
    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/opt/tomcat/logs/HJD.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%X{id}] [%p] %d %c %M - %m%n" />
        </layout>
    </appender>
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="file" />
    </root>

    <appender name="performance" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${PERFORMANCE_LOG_LOCATION}" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d %c %M - %m%n" />
        </layout>
    </appender>

    <logger
            name="net.ahm.incentives.dao.utils.PerformanceLoggingInterceptor"
            additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="performance" />
    </logger>

</log4j:configuration>